{% load static %}

<html>
	<head>
		<title>Detail Page</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'css/recommendation.css' %}">
	</head>

	<script type="text/javascript">
	$(document).ready(function() {
		$('#details').DataTable();
	} );
	</script>

	<body>
		<div>
			<h1><a href="/recommendation">Robotics Lib Search Engine</a></h1>
		</div>

		{% if detailinfo %}
		<table id="details" class="able table-striped table-bordered " width="100%">
			<thead>
				<tr>
					<th>DIST</th>
					<th>PREDICATE</th>
					<th>OBJECT</th>
				</tr>
			</thead>
			<tbody>
				{% for entity in detailinfo %}
					<tr>
						<td>{{entity.dist.value}}</td>
						<td>{{entity.p.value}}</td>
						<td>{{entity.o.value}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
			<p>No details are available.</p>
		{% endif %}
	</body>
</html>