{% load custom_tags %}
{% load static %}

<html>
	<head>
		<title>ROS Search</title>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/recommendation.css' %}">
	</head>
	<body>
		<div class="page-header">
			<h1><a href="/recommendation">ROS Search</a></h1>
		</div>

		<div class="main content">
			<div class="modal-body row">
				<div class="col-lg-3">
					{% if tags %}
					<form action="" method="POST">
						{% csrf_token %}
						<div class="bd-example">
							{% for tag in tags %}
								<button type="submit" name='tag' value='{{ tag.t.value }}' class="btn btn-outline-secondary btn-sm">{{ tag.t.value }}</button>
							{% endfor %}
						</div>
					</form>
					{% endif %}
				</div>
				<div class="col-lg-9">
					<form action="" method="POST">
						{% csrf_token %}
						{{ form }}
						<input type="submit" name='search' value="Search" class="btn btn-warning" />
					</form>

					{% if entities %}
					<div class="list-group">
						{% for entity in entities %}
							<a href="/recommendation/{{ entity.enti.value|genId }}/" class="list-group-item list-group-item-action">{{ entity.enti.value }}</a>
						{% endfor %}
					</div>
					{% else %}
						<p>No results are available.</p>
					{% endif %}
				</div>
			</div>
		</div>
	</body>
</html>

